<header>
    <div class="row">
        <div class="col-md-3">
            <div class="logo">
                <img src="../../../assets/images/logo.png">
            </div>
        </div>
        <div class="col-md-9">
            <div class="nav-menu">
                <ul>
                    <li>Products</li>
                    <li>Pricing</li>
                    <li>Currency Exchange</li>
                    <li>Market</li>
                    <li>News</li>
                    <li>Store</li>
                    <li>Login</li>
                    <li><button type="button" class="pink-button">Sign Up</button></li>
                </ul>
            </div>
        </div>
    </div>
</header>