<app-header></app-header>
<app-pricing></app-pricing>
<div class="search-wrapper">
    <span class="search-title">Global Music Industry Market Cap <span class="bold">425,087,976,40 VHD</span></span>
    <span class="up-count"><img src="../../assets/images/icons/arrow-up.png"><span class="color-green">2.5%</span></span>
    <input type="text" placeholder="Search For Artists" />
</div>
<div class="chart-list-wrapper">
    <table>
        <thead>
            <th>Rank</th>
            <th>Artists</th>
            <th>Share Price</th>
            <th>Volume</th>
            <th>Market Value Cap</th>
            <th>24 hr/Charge</th>
        </thead>

    </table>
    <mat-tab-group>
        <mat-tab label="Upcoming">
            <table class="artist-list">
                <tr class="table-spacing"></tr>
                <tr>
                    <td><span class="bold">1.</span></td>
                    <td>
                        <div class="artist-wrapper">
                            <div class="artist-img">
                                <img src="../../assets/artist.jpg">
                            </div>
                            <div class="artist-details">
                                <span class="artist-title">Bobby K.9</span>
                                <span class="album-type">Hip Hop/ Rap</span>
                                <span class="artist-role">Pro Indepent</span>
                            </div>
                        </div>
                    </td>
                    <td><span class="color-green">$2258.60</span></td>
                    <td>$2,500,000</td>
                    <td><span class="bold">$2,500,000</span><img class="increament-arrow" src="../../assets/images/icons/arrow-up.png"></td>
                    <td><span class="increase charges">+312.34</span></td>
                </tr>
                <tr class="table-spacing"></tr>
                <tr>
                    <td><span class="bold">1.</span></td>
                    <td>
                        <div class="artist-wrapper">
                            <div class="artist-img">
                                <img src="../../assets/artist.jpg">
                            </div>
                            <div class="artist-details">
                                <span class="artist-title">Bobby K.9</span>
                                <span class="album-type">Hip Hop/ Rap</span>
                                <span class="artist-role">Pro Indepent</span>
                            </div>
                        </div>
                    </td>
                    <td><span class="color-pink">$2258.60</span></td>
                    <td>$2,500,000</td>
                    <td><span class="bold">$2,500,000</span><img class="decreament-arrow" src="../../assets/images/icons/arrow-down.png"></td>
                    <td><span class="decrease charges">+312.34</span></td>
                </tr>
            </table>
        </mat-tab>
        <mat-tab label="Independent">
            <table class="artist-list">
                <tr class="table-spacing"></tr>
                <tr>
                    <td><span class="bold">1.</span></td>
                    <td>
                        <div class="artist-wrapper">
                            <div class="artist-img">
                                <img src="../../assets/artist.jpg">
                            </div>
                            <div class="artist-details">
                                <span class="artist-title">Bobby K.9</span>
                                <span class="album-type">Hip Hop/ Rap</span>
                                <span class="artist-role">Pro Indepent</span>
                            </div>
                        </div>
                    </td>
                    <td><span class="color-green">$2258.60</span></td>
                    <td>$2,500,000</td>
                    <td><span class="bold">$2,500,000</span><img class="increament-arrow" src="../../assets/images/icons/arrow-up.png"></td>
                    <td><span class="increase charges">+312.34</span></td>
                </tr>
                <tr class="table-spacing"></tr>
                <tr>
                    <td><span class="bold">1.</span></td>
                    <td>
                        <div class="artist-wrapper">
                            <div class="artist-img">
                                <img src="../../assets/artist.jpg">
                            </div>
                            <div class="artist-details">
                                <span class="artist-title">Bobby K.9</span>
                                <span class="album-type">Hip Hop/ Rap</span>
                                <span class="artist-role">Pro Indepent</span>
                            </div>
                        </div>
                    </td>
                    <td><span class="color-pink">$2258.60</span></td>
                    <td>$2,500,000</td>
                    <td><span class="bold">$2,500,000</span><img class="decreament-arrow" src="../../assets/images/icons/arrow-down.png"></td>
                    <td><span class="decrease charges">+312.34</span></td>
                </tr>
            </table>
        </mat-tab>
        <mat-tab label="Major Artists">
            <table class="artist-list">
                <tr class="table-spacing"></tr>
                <tr>
                    <td><span class="bold">1.</span></td>
                    <td>
                        <div class="artist-wrapper">
                            <div class="artist-img">
                                <img src="../../assets/artist.jpg">
                            </div>
                            <div class="artist-details">
                                <span class="artist-title">Bobby K.9</span>
                                <span class="album-type">Hip Hop/ Rap</span>
                                <span class="artist-role">Pro Indepent</span>
                            </div>
                        </div>
                    </td>
                    <td><span class="color-green">$2258.60</span></td>
                    <td>$2,500,000</td>
                    <td><span class="bold">$2,500,000</span><img class="increament-arrow" src="../../assets/images/icons/arrow-up.png"></td>
                    <td><span class="increase charges">+312.34</span></td>
                </tr>
                <tr class="table-spacing"></tr>
                <tr>
                    <td><span class="bold">1.</span></td>
                    <td>
                        <div class="artist-wrapper">
                            <div class="artist-img">
                                <img src="../../assets/artist.jpg">
                            </div>
                            <div class="artist-details">
                                <span class="artist-title">Bobby K.9</span>
                                <span class="album-type">Hip Hop/ Rap</span>
                                <span class="artist-role">Pro Indepent</span>
                            </div>
                        </div>
                    </td>
                    <td><span class="color-pink">$2258.60</span></td>
                    <td>$2,500,000</td>
                    <td><span class="bold">$2,500,000</span><img class="decreament-arrow" src="../../assets/images/icons/arrow-down.png"></td>
                    <td><span class="decrease charges">+312.34</span></td>
                </tr>
            </table>
        </mat-tab>
        <mat-tab label="All">
            <table class="artist-list">
                <tr class="table-spacing"></tr>
                <tr>
                    <td><span class="bold">1.</span></td>
                    <td>
                        <div class="artist-wrapper">
                            <div class="artist-img">
                                <img src="../../assets/artist.jpg">
                            </div>
                            <div class="artist-details">
                                <span class="artist-title">Bobby K.9</span>
                                <span class="album-type">Hip Hop/ Rap</span>
                                <span class="artist-role">Pro Indepent</span>
                            </div>
                        </div>
                    </td>
                    <td><span class="color-green">$2258.60</span></td>
                    <td>$2,500,000</td>
                    <td><span class="bold">$2,500,000</span><img class="increament-arrow" src="../../assets/images/icons/arrow-up.png"></td>
                    <td><span class="increase charges">+312.34</span></td>
                </tr>
                <tr class="table-spacing"></tr>
                <tr>
                    <td><span class="bold">1.</span></td>
                    <td>
                        <div class="artist-wrapper">
                            <div class="artist-img">
                                <img src="../../assets/artist.jpg">
                            </div>
                            <div class="artist-details">
                                <span class="artist-title">Bobby K.9</span>
                                <span class="album-type">Hip Hop/ Rap</span>
                                <span class="artist-role">Pro Indepent</span>
                            </div>
                        </div>
                    </td>
                    <td><span class="color-pink">$2258.60</span></td>
                    <td>$2,500,000</td>
                    <td><span class="bold">$2,500,000</span><img class="decreament-arrow" src="../../assets/images/icons/arrow-down.png"></td>
                    <td><span class="decrease charges">+312.34</span></td>
                </tr>
            </table>
        </mat-tab>
    </mat-tab-group>
</div>