<div class="pricing-wrapper">
    <div class="pricing-inner-wrapper">
        <ng-marquee speed="drowsy" [stopOnHover]="true">
            <mark>
        <ng-container>
          <img src="../../../assets/images/icons/ethereum.jpg" />

          <span class="price-title">Ethereum</span>

          <span class="price-count">453.06</span>
          <span class="price-count">6731</span>
          <span class="price-count">6.73%</span>
        </ng-container>
        <ng-container>
          <img src="../../../assets/images/icons/bitcoin.jpg" />
          <span class="price-title">bitcoin</span> 
          <span class="price-count color-green">453.06</span>
          <span class="price-count">6731</span>
          <span class="price-count color-green">6.73%</span>
        </ng-container>
        <ng-container>
          <img src="../../../assets/images/icons/ethereum.jpg" />

          <span class="price-title">Ethereum</span>

          <span class="price-count">453.06</span>
          <span class="price-count">6731</span>
          <span class="price-count">6.73%</span>
        </ng-container>
        <ng-container>
          <img src="../../../assets/images/icons/bitcoin.jpg" />
          <span class="price-title">bitcoin</span> 
          <span class="price-count color-green">453.06</span>
          <span class="price-count">6731</span>
          <span class="price-count color-green">6.73%</span>
        </ng-container>
        <ng-container>
          <img src="../../../assets/images/icons/ethereum.jpg" />

          <span class="price-title">Ethereum</span>

          <span class="price-count">453.06</span>
          <span class="price-count">6731</span>
          <span class="price-count">6.73%</span>
        </ng-container>
        <ng-container>
          <img src="../../../assets/images/icons/bitcoin.jpg" />
          <span class="price-title">bitcoin</span> 
          <span class="price-count color-green">453.06</span>
          <span class="price-count">6731</span>
          <span class="price-count color-green">6.73%</span>
        </ng-container>
        <ng-container>
            <img src="../../../assets/images/icons/ethereum.jpg" />
  
            <span class="price-title">Ethereum</span>
  
            <span class="price-count">453.06</span>
            <span class="price-count">6731</span>
            <span class="price-count">6.73%</span>
          </ng-container>
          <ng-container>
            <img src="../../../assets/images/icons/bitcoin.jpg" />
            <span class="price-title">bitcoin</span> 
            <span class="price-count color-green">453.06</span>
            <span class="price-count">6731</span>
            <span class="price-count color-green">6.73%</span>
          </ng-container>
          <ng-container>
            <img src="../../../assets/images/icons/ethereum.jpg" />
  
            <span class="price-title">Ethereum</span>
  
            <span class="price-count">453.06</span>
            <span class="price-count">6731</span>
            <span class="price-count">6.73%</span>
          </ng-container>
          <ng-container>
            <img src="../../../assets/images/icons/bitcoin.jpg" />
            <span class="price-title">bitcoin</span> 
            <span class="price-count color-green">453.06</span>
            <span class="price-count">6731</span>
            <span class="price-count color-green">6.73%</span>
          </ng-container>
          <ng-container>
            <img src="../../../assets/images/icons/ethereum.jpg" />
  
            <span class="price-title">Ethereum</span>
  
            <span class="price-count">453.06</span>
            <span class="price-count">6731</span>
            <span class="price-count">6.73%</span>
          </ng-container>
          <ng-container>
            <img src="../../../assets/images/icons/bitcoin.jpg" />
            <span class="price-title">bitcoin</span> 
            <span class="price-count color-green">453.06</span>
            <span class="price-count">6731</span>
            <span class="price-count color-green">6.73%</span>
          </ng-container>
      </mark>
        </ng-marquee>
    </div>
</div>